*,a，p{
    font-family: "微软雅黑";
}

a:focus, a:hover {
     outline:none;
     text-decoration: none;
}
@media (min-width: 1200px){
	.container {
	    width: 1200px;
	}
}
@media screen and (min-width: 767px){
	.container {
	    padding-left: 0;
	    padding-right: 0;
	}
}
































































